header{
background-color: rgb(223, 135, 216) ;

}

body{
    blackground: linear-gradient (to botton,rgb(0, 208, 255), rgb(221, 47, 76) );
}


h1 {
    text-align: center;
}

.centro {
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




